Unit]
Description=Sync LocalShared to Shared directory
RequiresMountsFor=/mnt/hgfs /home
# Say before which services should the service be started/shutdown
Before=shutdown.target reboot.target
# Say after which services should the service be started/shutdown
After=network.target

[Service]
# This script runs when the service runs
ExecStart=/bin/true
# This script runs when the service is shutdown                                                 
ExecStop=/home/petr/Documents/LocalShared/syncRunner/testStop.sh
# The service stays active even though the start script ended
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
